/* Variables */

:root {
 --blue:  #0065FC;
 --primary: black;
 --light:  #DEEBFF;
 --bg-section: #f2f2f2;
 --bg: white;
}

/* Generic */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Raleway',sans-serif ;
    background-color: var(--bg);
    color: var(--primary);
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/* Header */

header {
  display:grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . heb act reg";
  margin: 0 2rem;
}
.logo {
    grid-area: logo;
}
.title {
    font-weight: 700;
    margin-bottom: 0;
}
.subtitle {
    margin-top: .3rem;
}
.hébergements {
    grid-area: heb;
    text-decoration: none;
    margin: 0rem 1rem 0 1rem;
    color: var(--blue);
    padding-top: 1.5em;
    border-top: solid 3px transparent;
}
.activités {
    grid-area: act;
    text-decoration: none;
    margin: 0rem 1rem 0 1rem;
    color: var(--blue);
    padding-top: 1.5rem;
    border-top: solid 3px transparent;
}
.register {
    grid-area: reg;
    text-decoration: none;
    margin: 0rem 1rem 0 1rem;

    color: var(--blue);
    font-weight: bold;
    padding-top: 1.5rem;
}
.hébergements:hover, .activités:hover {
    border-top: solid 3px var(--blue);
}

.active {
    color: var(--primary);
}

/* Search Section */

.search {
    margin-left: 1.9rem;
}
.searchBar {
    display: inline-flex;
    width: auto;
    border: 1px solid var(--light);
    border-radius: 20px;
    flex-shrink: 1;
}
.searchBar input {
    border: none;
    flex: auto;
    font-weight: bold;
    font-size: 1rem;
}
.search .title {
    margin-top: 1.5rem;
}
#map-marker {
    padding: 1em; 
    border-radius: 20px 0 0 20px;
    background-color: var(--bg-section);
}
.btn {
        height: 100%;
        background-color: var(--blue);
        padding: 1rem;
        color: var(--bg);
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 0 20px 20px 0;
        cursor: pointer;
}
.search .btn:hover, .search .btn2:hover {
    opacity: .6;
}
.btn2 {
    color: transparent;
    background-color: transparent;
    border: none;
    display: none;
}

/* Filters Section */

.filters {
    margin: 2rem 1em 1em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    font-weight: bold;
    align-items: center;
    max-width: 70%;
}
.filters .fas {
   color: var(--blue);
   padding: .85rem;
   background-color: var(--light);
   border-radius: 1.5rem;
}
.info-results {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.info-results .fas {
    color: var(--blue);
    border: 2px solid var(--light);
    padding: .6rem .8rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.info-results p {
    text-align: left;
}
.filter input {
    display: none;
}
.filter {
	border-radius: 1.5rem;
    padding-right: 1rem;
    border: 3px solid var(--bg-section);
}
.filter label,i {
    cursor: pointer;
}
.filter:hover {
    transform: scale(.9);
}

/* Results Section */

.results {
    display: flex;
    justify-content: space-around;    
}
.acc, .pop {
    background-color: var(--bg-section);
    border-radius: 1.5rem;
    margin: 1.5rem;
}
.acc {
    flex: 66%;
}
.pop {
    flex: 33%;
}
.acc h1 {
    margin-left: 1.5rem;
}
#afficher-plus {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row-gap: 1rem;
}
.card {
    background-color: var(--bg);
    border-radius: 18px;
    border: 5px solid var(--bg);
    box-shadow: 0px 5px 14px rgba(0,0,0,.2);
    width: auto;
    margin: 0 1.2rem 0 1.2rem;
}
.card .img {
    width: 100%;
    height: 7rem;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}
.card i {
    color: var(--blue);
    margin-bottom: .5rem;
}

.card a:hover {
    color: yellow;
}
.card h3, p {
    color: var(--primary);
}

/* Pop Results Section */ 

.pop-title {
    display: flex;
    align-items: center;
    margin: 0 1.5rem 0 1.5rem;
    color: var(--primary);
    justify-content: space-between;
}
.pop-cards  {
    margin: 0 2rem 0 2rem;
}
.pop-card {
    display: flex;
    flex-direction: row;
    background-color: var(--bg);
    border-radius: 1.5rem;
    border: 5px solid var(--bg);
    box-shadow: 0px 5px 14px rgba(0,0,0,.2);
	margin-bottom: 2rem;
	height: 12rem;
    width: 100%;
}
.pop-card img {
    max-width: 40%;
    border-radius: 1.2rem 0 0 1.2rem ;
    object-fit: none;
}
.pop-card-text {
    color: var(--primary);
    width: 30ch;
    margin: 0 2em 1em 1em ;
    display: flex;
    flex-direction: column;
}
.pop-card p {
    margin-top: 0;
}
.pop a {
text-decoration: none;
}
.stars {
    margin-top: auto;
    margin-bottom: 0;
}
.stars i {
    color: var(--blue);
}
.stars .star-grey {
    color: var(--light)
}

/* Activities Section */

#activities{
	height: 100%;
    padding: 0 3rem;
	margin: 3rem 0;
}
#activities img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 1.3rem;
}
.activitiesWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 5rem);
    grid-gap: 2rem;
	grid-template-areas: 
	"lvp fdp pndc nddlg"
	"lvp fdp pndc nddlg"
	"lvp fdp pndc pl"
	"lvp idf pndc pl"
	"lvp idf pndc pl";
}

.lvp, .fdp, .idf, .pndc, .nddlg, .pl {
	display: flex;
    flex-direction: column;
	position: relative;
    background-color: var(--bg);
    border-radius: 1.3rem;
    box-shadow: 0px 5px 14px rgba(0,0,0,.2);

}

.lvp{
	grid-area: lvp;
}

.fdp{
	grid-area: fdp;
}

.pndc{
	grid-area: pndc;
}

.nddlg{
	grid-area: nddlg;
}

.idf{
	grid-area: idf;
}

.pl{
	grid-area: pl;
}
.activitiesWrapper div{
	width: 100%;
	height: 100%;
    background-color: white;
	border-radius: 1.3rem;
}
.activitiesWrapper h3 {
	position: absolute;
	bottom: 0;
    color: var(--primary);
	width: 100%;
	background-color: white;
	border-radius: 0 0 1.3rem 1.3rem;
	padding: 20px;
	margin: 0;
}

/* Footer */

footer {
    color: var(--primary);
    max-width: 100%;
}
.wrapper {
    background-color: var(--bg-section);
    display: flex;
    flex-direction: row;
    padding: 2rem;
}
.column {
	width: 30%;
	padding-right: 3rem;
}
.column ul{
    list-style: none;
    padding-left: 0;
}
.column li{
    line-height: 1.9;
    text-decoration: none;
}
.column a {
    color: var(--primary);
}
.column a:hover {
    color: var(--blue);
}

/* Media Query Desktop */

@media screen and (max-width: 1200px){
    .filters {
        font-size: .9rem;
        max-width: 100%;
    }
    .results {
        flex-direction: column;
    }
    .card {
        max-width: 70%;
        margin-right: .5rem;
    }
    .activitiesWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 12rem);
        grid-template-areas: 
	"lvp fdp"
	"pndc nddlg"
	"idf pl";
    }
}

/* Media Query Tablet */

@media screen and (max-width: 768px){
    .filters {
        font-size: .9rem;
        max-width: 100%;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .results {
        flex-direction: column;
    }
    .card {
        max-width: 70%;
        margin-right: .5rem;
    }
    .activitiesWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 12rem);
        grid-template-areas: 
	"lvp fdp"
	"pndc nddlg"
	"idf pl";
    }
}


/* Media Query Mobile */

@media screen and (max-width: 400px) {
	header {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:
            "logo reg"
			" heb act";
		margin: 1rem 0 0 0;
    }
    .hébergements, .activités {
        border-bottom: solid 3px var(--bg-section);
        border-top: none;    
        margin: 0;
        width: 100%;   
    }
    .hébergements:hover, .activités:hover {
        border-bottom: solid 3px var(--blue);
        border-top: none;    
    }
    .hébergements, .activités {    
        text-align: center; 
        padding-bottom: 1em;
        font-weight: 500;
    }
    .register {
        text-align: right;
    }
    .logo {
        margin-left: 1em;
    }
    .searchBar {
        width: auto;
        margin-right: 2rem;
    }
    .searchBar input {
        width: 75%;
    }
    .searchBar .btn {
        display: none;
    }
    #map-marker {
        text-align: center;
    }
    .searchBar .btn2 {
        margin-left: .9rem;
        height: 100%;
        background-color: var(--blue);
        padding: 1rem;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        display: inline;
    }
    .filters {
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 90%;
        margin-left: 2em;

    } 
    .filters h3 {
        width: 90%;
        margin-left: .5em;
    }
    .filter {
        margin: .3rem;
    }
    .filter:nth-of-type(4) {
        margin-right: auto;
    }
    .filter:nth-of-type(2) {
        margin-left: 2em;
    }
    .info-results {
        font-weight: normal;
    }
    .fa-info {
        font-size: .8rem;
        margin-left: -1rem;
    }
    .results .cards {
        display: grid;
        grid-template-columns: 1fr ;
        grid-column-gap: 0rem;
        grid-row-gap: 1rem;
    }
    .results {
        flex-direction: column;
    }
    .acc {
        order: 2;
        background-color: var(--bg);
    }
    .pop {
        order: 1;
        border-radius: 0px;
        flex: 100%;
        margin: 0;
    }
    .pop-card {
      height: 9rem;
      font-size: .85rem;
      margin: 1rem 0 1rem auto;
      max-width: auto;
    }
    .pop-card-text {
      margin-top: 0rem;
    }
    .pop-card p {
        margin-top: -.5rem;
    }
    .card {
        max-width: 100%;
        height: 12rem;
        margin: 0 .5rem;
    }
    .acc h1 {
        margin: .5rem 1rem 1rem 0;
        font-size: 1.3rem;
    }
    .card h3 {
        margin: 0 0 0 .5rem;
    }
    .card p {
        margin: 0 0 .5rem .5rem;
    }
    .fa-chart-line {
        font-weight: 700;
        font-size: 1.3rem;
    }
    #activities {
        padding: 0 2rem;
    }
    .activitiesWrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 12.5rem);
        grid-template-areas: 
	"lvp"
	"fdp"
	"pndc"
	"nddlg"
	"idf"
    "pl";
    }
    .wrapper {
        flex-direction: column;
        font-size: .90rem;
    }
    .wrapper > div {
        width: 60%;
    }
    .column {
        padding-right: 0;
    }
}



	
